parameters:
	ignoreErrors:
		-
			message: '#^Cannot unset property quark\\entity\\Human\:\:\$enderInventory because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: '#^Cannot unset property quark\\entity\\Human\:\:\$hungerManager because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: '#^Cannot unset property quark\\entity\\Human\:\:\$inventory because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: '#^Cannot unset property quark\\entity\\Human\:\:\$offHandInventory because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: '#^Cannot unset property quark\\entity\\Human\:\:\$xpManager because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: '#^Cannot unset property quark\\entity\\Living\:\:\$armorInventory because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Living.php

		-
			message: '#^Cannot unset property quark\\entity\\Living\:\:\$effectManager because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/entity/Living.php

		-
			message: '#^Cannot unset property quark\\player\\Player\:\:\$craftingGrid because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/player/Player.php

		-
			message: '#^Cannot unset property quark\\player\\Player\:\:\$cursorInventory because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/player/Player.php

		-
			message: '#^Cannot unset property quark\\world\\format\\io\\leveldb\\LevelDB\:\:\$db because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: ../../../src/world/format/io/leveldb/LevelDB.php
